
<h3>Database Test</h3>

<p>Object ID is : @ViewBag.output1</p>
<br />
<p>Response is : @ViewBag.output2</p>
<br />
<p>Result ID is : @ViewBag.output3</p>
<br />
<p>LIMS ID is : @ViewBag.output4</p>
<br />
<p>Error is : @ViewBag.output</p>
<br />