@{
    ViewData["Title"] = "Label";
}

<div class="text-center">
    <h1 class="display-4">Welcome To WQSS</h1>
    <h3 class="">Print Label</h3>
    <div id="barcodeTarget" class="barcodeTarget"></div>
    <br />
</div>

@if ((ViewBag.Error_1_message == "Login Successful" & ViewBag.Error_2_message == "Retrieve Successful") || ViewBag.bottleID != "")
{
    <p class="card-text">The Sample  has been successfully logged into LIMS</p>
}
<p class="card-text">Please verify that all information on the label is correct before printing.</p>
<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <br />
                <p class="card-text">Bottle ID : </p>
                <p class="card-text">Collected Date : </p>
                <p class="card-text">Location : </p>
                <p class="card-text">Sample Pt : </p>
                <p class="card-text">Matrix : </p>
                <p class="card-text">Reason : </p>
            </div>
            <div class="col-8">
                <br />
                @if (ViewBag.bottleID != null && ViewBag.bottleID != "")
                {
                    <p><b>@ViewBag.bottleID</b></p>
                }
                else
                {
                    <p><b>---</b></p>
                }

                <p><b>@ViewBag.collectedDate</b></p>
                <p><b>@ViewBag.location</b></p>
                <p><b>@ViewBag.sample_pt_name</b></p>
                <p><b>@ViewBag.matrix</b></p>
                <p><b>@ViewBag.reas_sampling</b></p>
            </div>
            <div class="col-2">
                <img src="@ViewBag.logo2" alt="" style="width:160px;height:80px;" /><br />
                <img src="@ViewBag.logo3" alt="" style="width:160px;height:160px; filter:opacity(100%);" />
                <p class=" text-muted" style="font-size:x-small;">
                    * The logo is a placeholder.
                </p>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.Error_1_message == "Login Successful")
{
    <p class="text-center"> @ViewBag.Error_1_message</p>
}
else
{
    <p class="text-center "> @ViewBag.Error_1_message</p>
}


@if (ViewBag.Error_2_message == "Retrieve Successful")
{
    <p class="text-center"> @ViewBag.Error_2_message</p>
}
else
{
    <p class="text-center"> @ViewBag.Error_2_message</p>
}


@if ((ViewBag.Error_1_message == "Login Successful" & ViewBag.Error_2_message == "Retrieve Successful") || ViewBag.bottleID != "")
{
    <p class="text-center">Click the button below to print label</p>

    <div class="text-center img-test">
        <button class="btn-outline-dark rounded" id="label_btn">Print Label</button>
    </div>
}
else
{
    <p class="text-center">Click on the link to print without Sample ID / QR Code </p>
    <div class="text-center img-test">
        <button class="btn-outline-dark rounded" id="label_btn"> Print Label Without QR Code </button>
    </div>
}

<p class="text-center"> @ViewBag.outpt</p>


@section Scripts {


    <script src="~/Scripts/JS/jspdf.min.js"></script>
    <script src="~/Scripts/JS/jquery-barcode.js"></script>


    <script type="text/javascript">

			const pdf = new jsPDF({
				orientation: 'potrait',
				unit: 'mm',         //Can put 'in' for inches
				format: [90,29]   //The size[width,height]
			});
			pdf.addFont('times','courier');
			pdf.setFont('times');
			pdf.setFontSize(7);


			// select the button
			let button1 = document.querySelector('#label_btn');

			// add 'click' event listener for the button
			button1.addEventListener('click', printPDF);



			// actual PDF options
			function printPDF() {
				x_cor = 4;
				y_cor = 3;
				x_spacing = 4;


				pdf.text(x_cor, y_cor, "Reason ", null, -90);
				if ("@ViewBag.reas_sampling" != null) { pdf.text(x_cor, 20, ": @ViewBag.reas_sampling", null, -90); }
				pdf.text(x_cor += x_spacing, y_cor, "Matrix", null, -90);
				pdf.text(x_cor, 20, ": @ViewBag.matrix", null, -90);
				pdf.text(x_cor += x_spacing, y_cor, "Sample Pt", null, -90);
				pdf.text(x_cor, 20, ": @ViewBag.sample_pt_name", null, -90);
				pdf.text(x_cor += x_spacing, y_cor, "Location", null, -90);
				pdf.text(x_cor, 20, ": @ViewBag.location", null, -90);
				pdf.text(x_cor += x_spacing, y_cor, "Collected Date", null, -90);
				pdf.text(x_cor, 20, ": @ViewBag.collectedDate", null, -90);
				pdf.text(x_cor += x_spacing, y_cor, "Bottle ID", null, -90);
				pdf.text(x_cor, 20, ": @ViewBag.bottleID", null, -90);


                if ("@ViewBag.data_matrix") {
                    var img = new Image();
                    img.src = "data:image/png;base64," + "@ViewBag.data_matrix";
                    pdf.addImage(img, 'png', 0, 67, 20, 20, null, null);
                }


				var logo = new Image();
				logo.src = "@ViewBag.logo";
				pdf.addImage(logo, 'png', 19, 69, 8, 16, null, null);


				pdf.save("label.pdf");
			}



    </script>
}

